.musicfy1 {
    color: rgb(223, 166, 61);
    font-style: italic;
}

.musicfy1::first-letter{
    color: rgb(161, 9, 161);
    font-size: 50px;
}

.artispopuler{
    color: red;
}

.judul1{
    color: greenyellow;
}

.judul2{
    color: purple;
}

.tabel1 th, .tabel1 td{
    padding: 8px;
    border: solid 3px;
    border-style: dotted;
}

.tabel2 th, .tabel2 td{
    border: solid 3px;
    border-style: solid;
}

.tabel2 td{
    padding-left: 50px;
    padding-right: 50px;
}